html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: 'Conv_JBLACK';
  src: url('fonts/JBLACK.eot');
  src: local('☺'), url('fonts/JBLACK.woff') format('woff'), url('fonts/JBLACK.ttf') format('truetype'), url('fonts/JBLACK.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  posititon: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Conv_JBLACK', sans-serif;
  font-size: 36px;
  line-height: 1.4;
}

#myCanvas {
  width: 100vw;
  height: 100vh;
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
} 

#mask {
  display: none;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  background: url(img/bg.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  -webkit-filter: hue-rotate(0deg);
  -moz-filter: hue-rotate(0deg);
  -o-filter: hue-rotate(0deg);  
  filter: hue-rotate(0deg);
}

.content {
  padding: 85vh 40px 0;
  max-width: 800px;
  z-index: 9999;
  position: relative;
  text-align: justify;
  margin: 0 auto;
}

p {
  margin-bottom: 40px;
}

h1 {
  text-align: center;
  font-size: 120px;
}
